@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";

body {
font-family: 'Raleway', sans-serif;
/*background: url("/static/img/kafo1.png");*/
background-color: #F0F0F0;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

.top{
color: Black;
font-family: math;
text-align: center;
padding-top: 20px
}

.app-title a{
text-decoration: none;
background-color: green;
color: white;
padding: 10px;
border-radius: 30px;
}

.app-title{
margin: 8rem;
display: flex;
justify-content: space-between;
}

.app-title a:hover{
color: green;
background-color: white;
font-family: sans-serif;
}

.art{
margin-top: 15rem;
}

.sortie{
margin-left: 20px;
margin-right: 20px;
display: flex;
justify-content: space-between;
font-size: 10px;
text-align: center;
}

.entree{
margin-left: 20px;
margin-right: 20px;
display: flex;
justify-content: space-between;
font-size: 10px;
text-align: center;
}

.entree a{
text-decoration: none;
color: green;
font-family: math;
}

.entree h2{
text-align: center;
}

.entree a:hover{
color: white;
background-color: green;
border: black;
border-radius: 30px;
padding: 2px;
}

#article{
padding-top: 10px;
margin-left: 2rem;
margin-right: 2rem;
background-color: white;
border-radius: 10px;
}
.sortie a{
text-decoration: none;
color: green;
font-family: math;
}

.sortie h2{
text-align: center;
}

.sortie a:hover{
color: white;
background-color: green;
border: black;
border-radius: 30px;
padding: 2px;
}

.sort-head{
color: Black;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 20px;
text-decoration: underline;
font-family: math;
}

#hr1{
    height: 2px !important;
    background-color: gray;
    color: gray;
    width: 70%;
    margin-top: 10px
}

.ajout{
display: flex;
justify-content: space-between;
}

.button{
text-decoration: none;
font-size: 15px;
color: black;
padding: 10px;
font-family: math;
}

.ajout a{
text-decoration: none;
font-size: 20px;
color: green;
padding: 10px;
font-family: math;

}

.ajout a:hover{
color: white;
background-color: green;
border: black;
border-radius: 30px;
}

input, textarea {
display: block;
padding: .75rem;
margin: 0 auto;
line-height: 1.5;
font-size: 1rem;
border: 1px solid #ced4da;
border-radius: .25rem;
min-width: 600px;
}

label {
display: inline-block;
box-sixing: border-box;
margin: 1rem 0;
margin-left: 17rem;
}

.btn-submit {
background-color: lightblue;
}

.btn-submit:hover {
background-color: green;
}
.btn-delete {
background-color: indianred;
}
.btn-delete:hover{
background-color: white;
color: red;
}

.btn{
padding: 7px;
margin-top: 1rem;
border: none;
font-weight: 600;
font-size: 1.10rem;
border-radius: .3rem;
color: white;
cursor:pointer;
}

#ajouter{
padding: 40px;
text-align: center;
font-family: math;
color: green;
}

.dechar{
padding-top: 20px;
width: 200px;
}

.ent{
padding-top: 20px;
width: 200px;
}

.delete{
font-size: 20px;
text-align: center;
}

#delete{
margin-top: 200px
}

.up{
margin-left: 60px;
margin-right: 60px;
display: flex;
justify-content: space-between;
padding-top: 20px;
}

.middle{
margin-left: 60px;
margin-right: 60px;
display: flex;
justify-content: space-between;
}

.bottom{
margin-left: 60px;
margin-right: 60px;
display: flex;
justify-content: space-between;
padding-bottom: 20px;
}
.h5{
flex-direction: column;
margin-bottom: 20px;
}
.h51{
flex-direction: column;
}

.h52{
flex-direction: column;
}

.vert{
height: 100px;
}
.under{
text-decoration: underline;
font-family: sans-serif;
}

.under1{
text-decoration: underline;
font-family: sans-serif;
color: green;
}
.underl{
text-decoration: underline;
font-family: sans-serif
}

.und{
text-decoration: underline;
font-family: sans-serif;
}

.caisse{
text-decoration: underline;
font-family: sans-serif;
}

.date{
text-decoration: underline;
font-family: sans-serif;
}

#caisse2{
text-decoration: underline;
font-family: sans-serif;
}

#date2{
text-decoration: underline;
font-family: sans-serif;
}

#agent{
font-family: sans-serif;
}

#nom{
font-family: sans-serif;
}

#fonction{
font-family: sans-serif;
}

#dsi{
font-family: sans-serif;
}

#prenom{
font-family: sans-serif;
}

#fonct{
font-family: sans-serif;
}

#agen{
font-family: sans-serif;
}

#nom-prenom{
font-family: sans-serif;
}

#fonc{
font-family: sans-serif;
}

#agen-dsi{
font-family: sans-serif;
}

#pren{
font-family: sans-serif;
}

#fon{
font-family: sans-serif;
}
.num{
margin-left: 60px;
margin-right: 60px;
display: flex;
justify-content: space-between;
margin-bottom: 5rem;
}
#num1{
background-color: white;
width: 290px;
height: 150px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#num4{
background-color: white;
width: 290px;
height: 150px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#num2{
background-color: white;
width: 290px;
height: 150px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#num3{
background-color: white;
width: 290px;
height: 150px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#num1 h5{
font-size: 15px;
text-align:center;
margin-top: 60px;
font-family: Cursive;
}

#num2 h5{
font-size: 15px;
text-align:center;
margin-top: 60px;
font-family: Cursive;
}

#num3 h5{
font-size: 15px;
text-align:center;
margin-top: 60px;
font-family: Cursive;
}

#num4 h5{
font-size: 15px;
text-align:center;
margin-top: 60px;
font-family: Cursive;
}

.no{
margin-top: 15px;
}

.btn-primary{
background-color: MediumSeaGreen;
}

.btn-primary:hover{
background-color: white;
color: green;
}

.btn-retour{
background-color: green;
margin-left: 10px;
}

.btn-retour:hover{
background-color: white;
color: green;
margin-left: 10px;
}

.btn-retour1{
background-color: green;
margin-left: 10px;
}

.btn-retour1:hover{
background-color: white;
color: green;
margin-left: 10px;
}

#topper{
text-align: center;
margin: 20px;
font-family: sans-serif;
}

#topper-h1{
text-align: center;
margin: 20px;
margin-top: 2rem;
text-decoration: underline;
font-family: math;
}

.down-h{
margin-left: 2rem;
margin-bottom: 10px;
}

.deep-h{
margin-left: 2rem;
margin-bottom: 10px;
}

.h-deep{
margin-bottom: 5px;
}

.h-down{
margin-bottom: 5px;
}

#h1-top{
text-align: center;
margin: 20px;
font-family: sans-serif;
}

#h2-top{
text-align: center;
margin: 20px;
margin-top: 2rem;
text-decoration: underline;
font-family: math;
}

.agent{
margin-left: 2rem;
margin-bottom: 10px;
}

.nom{
margin-bottom: 5px;
}

.agent-dsi{
margin-left: 2rem;
margin-bottom: 10px;
}

.prenom{
margin-bottom: 5px;
}

.ticle{
background-color: white;
margin: 30px;
margin-top: 100px;
border-radius: 10px;
}

#ticle{
background-color: white;
margin: 30px;
margin-top: 100px;
border-radius: 10px;
}

.try{
margin-left: 60px;
margin-right: 60px;
display: flex;
justify-content: space-between;
margin-bottom: 5rem;
}

.essai{
margin-left: 60px;
margin-right: 60px;
display: flex;
justify-content: space-between;
margin-bottom: 5rem;
}

.modifie{
text-align: center;
margin: 20px;
font-family: sans-serif;
color: green;
}

#modifie{
text-align: center;
margin: 20px;
margin-top: 2rem;
font-family: sans-serif;
color: green;
}

@media print {
#print {
display: none;
}
.fa .fa-print{
display: none;
}
.titre{
display: none;
}
}

.pagination {
  display: flex;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
  margin: 0 4px;
  background-color: white;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active){
background-color: #ddd;
}

.page{
max-width: fit-content;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}