name: Django System Check

on:
  push:
  pull_request:

jobs:
  system-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django system check
        run: python src/manage.py check

      - name: Run migrations
        run: python src/manage.py migrate
